.convert {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 80%;
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 12rem;
  padding: 3rem;

  @media only screen and (max-width: 37.5em) {
    width: 85%;
  }

  &__header {
    color: $primary-green;
    font-size: 3rem;
    text-transform: capitalize;

    @media only screen and (max-width: 37.5em) {
      margin-bottom: 2rem;
    }
  }

  &__next-button {
    color: $primary-green-dark;
    border: 1px solid $primary-green-dark;
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: 2rem;
    background-color: #fff;
  }

  &__error {
    color: red;
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
}

.playlists-container {
  width: 100%;

  display: flex;

  @media only screen and (max-width: 37.5em) {
    flex-direction: column;
  }

  &__left {
    flex-basis: 45%;
    margin: 2rem auto;

    @media only screen and (max-width: 37.5em) {
      margin: 1rem 0;
    }
  }

  &__right {
    flex-basis: 45%;
    margin: 2rem auto;

    @media only screen and (max-width: 37.5em) {
      margin: 1rem 0;
    }
  }

  &__button {
    margin-top: 3.5rem;
    text-align: center;

    @media only screen and (max-width: 37.5em) {
      margin: 2rem;
    }
  }
}
