.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  background-color: #fff;
  color: $primary-green;

  transition: all 0.2s;

  &__item {
    border-bottom: 1px solid transparent;
    cursor: pointer;

    &:hover {
      color: $primary-green-dark;
      border-bottom: 1px solid $primary-green;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    font-size: 2.8rem;
    text-transform: uppercase;
  }

  &__convert {
    font-size: 1.8rem;
  }
}
