.playlist-item {
  padding: 2rem;
  margin-bottom: 2rem;
  border: 1px solid gainsboro;
  font-size: 2rem;
  flex-basis: 40%;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 62.5em) {
    flex-basis: 45%;
  }

  &__title {
    cursor: pointer;
    padding-left: 1rem;
  }
}
