.platform-list-item {
  cursor: pointer;
  display: flex;
  // max-width: 50rem;
  list-style: none;
  padding: 1.4rem;
  align-items: center;
  // margin: 2rem auto;
  background-color: #fff;
  font-size: 2rem;
  border: 1px solid gainsboro;

  transition: all 0.5s;

  &__Spotify {
    background: linear-gradient(270deg, #07d165 50%, #fff 0);
    background-size: 201% 100%;
    background-position: 0 100%;
  }

  &__Youtube {
    background: linear-gradient(270deg, red 50%, #fff 0);
    background-size: 201% 100%;
    background-position: 0 100%;
  }

  &__Napster {
    background: linear-gradient(270deg, black 50%, #fff 0);
    background-size: 201% 100%;
    background-position: 0 100%;
  }

  &__Deezer {
    background: linear-gradient(270deg, #02b5c8 50%, #fff 0);
    background-size: 201% 100%;
    background-position: 0 100%;
  }

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  &__content {
    margin: 0 auto;
    transition: transform 0.5s;
  }
}

.active {
  background-position: 100% 100%;
  color: #fff;
  border: 1px solid transparent;

  > .platform-list-item__img {
    opacity: 0;
    transition-delay: 0.4s;
    transition-duration: 0.1s;
  }

  > .platform-list-item__content {
    transform: translateX(-32px);
    transition: transform 0.5s;
  }
}
