$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  // font-family: "Open Sans", sans-serif;
  font-family: "roboto", sans-serif;
  font-weight: 400;

  // @media only screen and (max-width: $bp-large) {
  //   font-size: 50%;
  // }
}

.btn {
  background-color: $primary-green-dark;
  color: #fff;
  padding: 1rem 2rem;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
  transition: all 0.2s;

  font-family: inherit;
  font-size: 2rem;

  &:hover {
    background-color: $primary-green;
  }
}

.btn-inverted {
  cursor: initial;
  background-color: #fff;
  color: $primary-green-dark;
  border: 1px solid $primary-green-dark;

  &:hover {
    background-color: #fff;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
