$primary-white: #ececec;
$primary-grey: #6c7a89;
$primary-grey-light-1: #f4f2f2;
$primary-blue-dark: #22313f;
$primary-blue: #2c3e50;
$primary-blue-light: #67809f;
$primary-red: #9f6780;

$primary-green: #3a503b;
$primary-green-dark: #223023;
